.example-card {
    max-width: 400px;
    margin-right: 20px;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .info-card {
    display: inline-flex;
    margin-right: 10px;
  }


  .header {
    display: flex;
    justify-content: space-between;
  }
  
  .favicon{
    background-color: white;
    border: none;
  }

  .img{
    max-height: 250px;
  }

  .date{
    font-size: 9px;
  }

  .priceDate{
    margin-left: 20px;
  }
  .mat-card {
    height: 400px; 
    flex-basis: 300px;
  }
  